body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0px;
  background-color: #0d0221;
}
header {
  background: linear-gradient(to bottom, #b180e0, #8e5fc0, #5a3595, #0d0221);
  padding: 15px 30px;
  padding-left: 0;
  padding-right: 0;
  color: white;
  border: none;
}

header button:hover {
  border: none;
}

header h1 {
  color: #fff;
}

#SearchBack {
  background-color: #fff;
  border-radius: 40px;
}
#SearchBack button {
  background-color: #fff;
  color: #000000;
  border: none;
  transition: all 0.3s ease-in;
}
#SearchBack button:hover {
  background: rgb(184, 184, 184)000;
  color: #000000;
  border: none;
}

.dropdown-menu {
  border: none;
  border-radius: 15px;
  margin: 0px;
  background-color: #2e1a47;
}

.dropdown-menu a{
  text-decoration: none;
  border: none;
}
.dropdown-item{
  color: #fff;
  transition: 0.8s;
}
.dropdown-item:hover{
  background-color: #8e5fc0;
  color: #0d0221;
}


footer {
  padding: 10px;
  background: linear-gradient(#5a3595, #8e5fc0, #b180e0, #b180e0);
  color: #fff;
}

.dropdown-toggle {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-toggle:focus,
.dropdown-toggle:active {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

